body {
  font-family: 'Prompt', sans-serif;
}
.wrapperBody .active {
  background-color: #f1f7e0;
}

.wrapperBody .active span {
  display: inline;
  text-align: start;
}
.Caecilia {
  font-family: 'Caecilia LT Pro', sans-serif;
}
@media (max-width: 768px) {
  .wrapperBody .active .mobileImage {
    display: block !important;
  }
}
